<form class="form-inline" [formGroup]="enquiryInstrumentForm">
  <div class="form-group mx-sm-3 mb-2" >
    <input class="form-control" formControlName="instrumentId" placeholder="Instrument Id">
  </div>
  <button class="btn btn-primary mb-2" (click)="getInstrumentById(enquiryInstrumentForm.get('instrumentId').value)">Find</button>

  <div class="form-group mx-sm-3 mb-2" >
    <input class="form-control" formControlName="rawData" placeholder="Insert rawData">
  </div>
  <button class="btn btn-primary mb-2" (click)="createInstrument(enquiryInstrumentForm.get('rawData').value)">Process</button>
</form>


<p *ngIf="!instrumentList &&  !isEnquiryDone">No Instrument Added Yet!</p>
<ul class="list-group" *ngIf="!isEnquiryDone && instrumentList">
  <li class="list-group-item" *ngFor="let instrument of instrumentList"> Instrument Id : {{instrument.name}}  Quantity : {{instrument.quantity}}</li>
</ul>


<ul class="list-group" *ngIf="isEnquiryDone">
  <li class="list-group-item"> Instrument Id : {{instrumentElement.name}}  Quantity : {{instrumentElement.quantity}}</li>
</ul>



