<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
          <form class="form-horizontal form-material" id="loginform" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.get('userName').value, loginForm.get('password').value)">
                <h3 class="box-title m-b-20">Sign In</h3>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="userName" type="text" placeholder="Mobile" > </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password" type="password" placeholder="Password"> </div>
                </div>

                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                      <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit" [disabled]="!loginForm.valid">Log In</button>

                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Don't have an account? <a class="text-info m-l-5" [routerLink]="['/signup']"><b>Sign Up</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
