<p *ngIf="!instrumentList">No Instrument Added Yet!</p>
<ul class="list-group" *ngIf="instrumentList">
  <li class="list-group-item"> Instrument Id : {{instrument.name}}  Quantity : {{instrument.quantity}}</li>
</ul>
