<div class="login-register" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.get('name').value, signUpForm.get('mobile').value, signUpForm.get('password').value)">
                <h3 class="box-title m-b-20">Sign Up</h3>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="name" type="text" placeholder="Name" >
                      <small class="form-text text-danger" *ngIf="!signUpForm.get('name').valid && signUpForm.get('name').touched">Name is a required field</small>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="mobile" type="mobile" placeholder="Mobile">
                      <small class="form-text text-danger" *ngIf="!signUpForm.get('mobile').valid && signUpForm.get('mobile').touched">Invalid Mobile Format</small>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" formControlName="password" type="password" placeholder="Password" >
                      <span *ngIf="! signUpForm.get('password').valid">
            <small class="form-text text-danger" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').errors['required']">Password is Required</small>
            <small class="form-text text-danger" *ngIf="signUpForm.get('password').touched && signUpForm.get('password').errors['minlength']">Password must be 6 charater long </small>
              </span>
                    </div>
                </div>

                <div class="form-group text-center p-b-20">
                    <div class="col-xs-12">
                        <button [disabled]="!signUpForm.valid" type="submit" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Sign Up</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Already have an account? <a class="text-info m-l-5" [routerLink]="['/login']"><b>Sign In</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
